
<h1>Creative Application 02</h1>
<p class="text-danger">Welcome to the App</p>
<!-- Here we show how to encode a URI and get weather data -->
<% if (loggedIn) { %>
    Welcome to this web app demo;
    Because this is an individual work, so there is only one function
    Look at the top!!<br>
    Hang Liao: <a href="/summarize-text"> summarize the text</a>
<% } %>
  
    
  
